<%- include('../partials/head.ejs') %>

    <body>
        <h1 class="register-title">Edit Profile | <a href="/">Home</a></h1>
        <div class="register-container">
            <form action="/profile/edit" method="POST" class="form-register" enctype="multipart/form-data"
                onsubmit="return confirm('Do you really want to submit the form?');">
                <div class="form-input-register-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required />
                </div>
                <div class="form-input-register-group">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required />
                </div>
                <div class="form-input-register-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= user.email %>" required />
                </div>
                <div class="form-input-register-group">
                    <!-- <label for="profilePicture" class="button button-upload">Profile Picture</label>
                <input type="file" id="profilePicture" name="profilePicture" style="display: none;" /> -->
                    <label for="profilePicture">Profile Picture</label>
                    <input type="file" id="profilePicture" name="profilePicture" accept=".jpg,.jpeg,.png" />
                </div>
                <div class="form-input-register-group">
                    <label for="deletePicture">Delete picture</label>
                    <input type="checkbox" id="deletePicture" name="deletePicture" />
                </div>
                <div class="form-register-button">
                    <button type="submit" class="button button-register">Save</button>
                </div>
            </form>
        </div>
    </body>

    <%- include("../partials/foot.ejs") %>