<%- include('partials/head.ejs') %>

    <body>
        <div class="page-header">
            <h1>Detail</h1>
            <div class="page-action">
                <a href="/" class="button button-logout">Home</a>
                <% if (isAuth) { %>
                    <a href="/auth/logout" class="button button-logout">Logout</a>
                    <% } else { %>
                        <a href="/auth/login" class="button button-logout">Login</a>
                        <% } %>
            </div>
        </div>
        <div class="blog-container">
            <div class="blog">
                <h2>
                    <%= blog.headline %>
                </h2>
                <h3>
                    <%= blog.sub %>
                </h3>
                <h4>
                    by <%= blog.user.email %>
                </h4>
                <div class="picture">
                    <img src="data:image/jpg;base64, <%= blog.picture %>" alt="">
                </div>
                <p>
                    <%= blog.content %>
                </p>
                <% if (isAuth) { %>
                    <div class="blog-action">
                        <a href="/edit/<%= blog._id %>" style="text-decoration: none;">
                            <button class="button button-edit">Edit</button>
                        </a>
                        <a href="/delete/<%= blog._id %>" style="text-decoration: none;">
                            <button class="button button-delete"
                                onclick="return confirm('Do you want to delete this blog?')">Delete</button>
                        </a>
                    </div>
                    <% } %>
            </div>
        </div>
    </body>

    <%- include("partials/foot.ejs") %>